In [14]:
import kagglehub
from kagglehub import KaggleDatasetAdapter
import os
import pandas as pd

In [7]:
file_path = ""

In [ ]:
# Download latest version
path = kagglehub.dataset_download("adityaramachandran27/world-air-quality-index-by-city-and-coordinates")

print("Path to dataset files:", path)

Downloading from https://www.kaggle.com/api/v1/datasets/download/adityaramachandran27/world-air-quality-index-by-city-and-coordinates?dataset_version_number=1...

100%|██████████| 372k/372k [00:00<00:00, 2.11MB/s]

Extracting files...
Path to dataset files: /Users/sandradening/.cache/kagglehub/datasets/adityaramachandran27/world-air-quality-index-by-city-and-coordinates/versions/1

In [17]:
downloaded_files = os.listdir(path)
csv_file = [f for f in downloaded_files if f.endswith('.csv')][0]
df = pd.read_csv(os.path.join(path, csv_file))

In [18]:
print("\nDataset shape:", df.shape)
print("\nColumns:", df.columns.tolist())
print("First 5 records:")
df.head()

Dataset shape: (16695, 14)

Columns: ['Country', 'City', 'AQI Value', 'AQI Category', 'CO AQI Value', 'CO AQI Category', 'Ozone AQI Value', 'Ozone AQI Category', 'NO2 AQI Value', 'NO2 AQI Category', 'PM2.5 AQI Value', 'PM2.5 AQI Category', 'lat', 'lng']
First 5 records:

,Country,City,AQI Value,AQI Category,CO AQI Value,CO AQI Category,Ozone AQI Value,Ozone AQI Category,NO2 AQI Value,NO2 AQI Category,PM2.5 AQI Value,PM2.5 AQI Category,lat,lng
0,Russian Federation,Praskoveya,51,Moderate,1,Good,36,Good,0,Good,51,Moderate,44.7444,44.2031
1,Brazil,Presidente Dutra,41,Good,1,Good,5,Good,1,Good,41,Good,-5.2900,-44.4900
2,Brazil,Presidente Dutra,41,Good,1,Good,5,Good,1,Good,41,Good,-11.2958,-41.9869
3,Italy,Priolo Gargallo,66,Moderate,1,Good,39,Good,2,Good,66,Moderate,37.1667,15.1833
4,Poland,Przasnysz,34,Good,1,Good,34,Good,0,Good,20,Good,53.0167,20.8833

In [19]:
# Check for missing values
print("\nMissing values per column:")
print(df.isnull().sum())

Missing values per column:
Country               302
City                    0
AQI Value               0
AQI Category            0
CO AQI Value            0
CO AQI Category         0
Ozone AQI Value         0
Ozone AQI Category      0
NO2 AQI Value           0
NO2 AQI Category        0
PM2.5 AQI Value         0
PM2.5 AQI Category      0
lat                     0
lng                     0
dtype: int64

In [21]:
df.describe()

,AQI Value,CO AQI Value,Ozone AQI Value,NO2 AQI Value,PM2.5 AQI Value,lat,lng
count,16695.000000,16695.000000,16695.000000,16695.000000,16695.000000,16695.000000,16695.000000
mean,62.998682,1.342138,31.767355,3.819647,59.821324,30.267148,-3.944485
std,43.091971,2.371379,22.839343,5.880677,43.208298,22.947398,73.037148
min,7.000000,0.000000,0.000000,0.000000,0.000000,-54.801900,-171.750000
25%,38.500000,1.000000,20.000000,0.000000,34.000000,16.515450,-75.180000
50%,52.000000,1.000000,29.000000,2.000000,52.000000,38.815800,5.643100
75%,69.000000,1.000000,38.000000,5.000000,69.000000,46.683300,36.275000
max,500.000000,133.000000,222.000000,91.000000,500.000000,70.767000,178.017800